@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: rgb(31, 29, 58);
	--secondary: rgb(52, 49, 92);
	--button-color: rgb(56, 53, 96);
	--text: white;
	--planet-glow: rgba(255, 255, 255, 0.389);
	--saturn-ring-color: rgba(244, 231, 189, 0.65);
}

[data-theme="light"] {
	--primary: rgb(229, 228, 207);
	--secondary: rgb(212, 210, 175);
	--button-color: rgb(215, 212, 167);
	--text: rgb(31, 29, 58);
	--planet-glow: rgb(137, 133, 66);
	--saturn-ring-color: rgba(126, 101, 50, 0.7);
}

html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	background: var(--primary);
	color: var(--text);
	font-family: "Space Grotesk", sans-serif;
}

.app {
	display: flex;
	height: 100%;
	background: var(--primary);
	color: var(--text);
	transition:
		background-color 200ms ease,
		color 200ms ease;
}